$body-color: #55b9f3;
$text-color: #ffff;
$box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;

body {
  background-color: $body-color;
}

* {
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 50px auto;
  padding: 0 50px;
}

.App h1 {
  text-align: center;
  color: $text-color;
}

.home-container {
  justify-content: space-around;
  display: flex;
  height: 500px;
}

.container {
  border-radius: 50px;
  background: $body-color;
  box-shadow: $box-shadow;
  margin-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  transition: all 1s;
}

.trash {
  justify-content: center;
  margin-top: 50px;
  display: flex;
}

.trash svg {
  background: $body-color;
  box-shadow: $box-shadow;
  padding: 50px;
  border-radius: 50%;
}
